<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>找回密码</ion-title>
  </ion-navbar>

  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>

</ion-header>


<ion-content no-padding>

  <div margin-top="10px" text-center >
    <img class="logo" src="assets/images/logo.png">
  </div>
  <ion-grid>
    <ion-row padding>

      <ion-col>
        <img src="assets/images/registered_two.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()!=0">
        <img src="assets/images/registered_two_two.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()==0">
      </ion-col>

      <ion-col align-self-center>
        <hr class="line">
      </ion-col>

      <ion-col>
        <img src="assets/images/registered_one.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()!=1">
        <img src="assets/images/registered_one_one.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()==1">
      </ion-col>

      <ion-col align-self-center>
        <hr class="line">
      </ion-col>

      <ion-col>
        <img src="assets/images/registered_three.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()!=2">
        <img src="assets/images/registered_three_three.png" alt="" *ngIf="forgotPasswrdSlides.getActiveIndex()==2">
      </ion-col>

    </ion-row>

  </ion-grid>


  <div >

    <ion-slides #forgotPasswrdSlides>

      <ion-slide>

        <form>

          <ion-list>

            <ion-item>
              <ion-label floating>
                邮箱地址
              </ion-label>
              <ion-input type="text" name="email" placeholder="" required  pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\\.[a-zA-Z0-9_-]+)+$" [(ngModel)]="forgotPassword.email" #email="ngModel" ></ion-input>
            </ion-item>

            <ion-item *ngIf="email.invalid && email.touched">
              <p [hidden]="!email.errors?.required">请输入邮箱地址</p>
              <p [hidden]="!email.errors?.pattern">您输入的邮箱地址格式不正确</p>
            </ion-item>

          </ion-list>

          <div padding>
            <button ion-button block color="secondary" [disabled]="email.invalid" (click)="toValidate()">下一步</button>
          </div>

        </form>

      </ion-slide>

      <ion-slide>

        <form>

          <div padding>

            <ion-row>

              <ion-col col-8>
                <ion-input type="number" name="code" required placeholder="请输入验证码" [(ngModel)]="forgotPassword.code" #code="ngModel" ></ion-input>
              </ion-col>

              <ion-col col-4>
                <button ion-button block color="secondary" (click)="send()" [disabled]="isSend" >{{timerText}}</button>
              </ion-col>

            </ion-row>

            <ion-row>

              <ion-col>
                <button ion-button outline block color="secondary" (click)="previous()">上一步</button>
              </ion-col>

              <ion-col>
                <button ion-button block color="secondary" [disabled]="code.invalid" (click)="validateCode()">下一步</button>
              </ion-col>

            </ion-row>

          </div>

        </form>
      </ion-slide>

      <ion-slide>

        <form>

          <div padding>

            <ion-row>

              <ion-item>
                <ion-label stacked>登录密码</ion-label>
                <ion-input name="password" type="password" placeholder="请输入登录密码" [(ngModel)]="forgotPassword.password" #password="ngModel"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>确认密码</ion-label>
                <ion-input name="confirmPassword" type="password" placeholder="请确认登录密码" [(ngModel)]="forgotPassword.confirmPassword" #confirmPassword="ngModel"></ion-input>
              </ion-item>

            </ion-row>

            <ion-row>

              <ion-col>
                <button ion-button outline block color="secondary" (click)="previous()">上一步</button>
              </ion-col>

              <ion-col>
                <button ion-button block color="secondary" [disabled]="password.invalid||confirmPassword.invalid" (click)="toSuccess()">确认修改</button>
              </ion-col>

            </ion-row>

          </div>

        </form>

      </ion-slide>

    </ion-slides>

  </div>

</ion-content>
<copyright [bottom]="'20px'" ></copyright>
