<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="main-background">

  <ion-list inset>

    <ion-item >
      <ion-label floating>请输入旧密码</ion-label>
      <ion-input name="oldPassword" required type="password" placeholder="请输入旧密码" [(ngModel)]="input.oldPassword" #oldPassword="ngModel"></ion-input>
    </ion-item>
    <ion-item *ngIf="oldPassword.touched && password!=input.oldPassword">
      <p class="p-text" [hidden]="password==input.oldPassword">输入密码与登录密码不符！</p>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-item>
      <ion-label floating>请输入新密码</ion-label>
      <ion-input name="newPassword" type="password" required  pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,16}$" placeholder="请输入新密码" [(ngModel)]="input.newPassword" #newPassword="ngModel" ></ion-input>
    </ion-item>
    <ion-item *ngIf="newPassword.invalid && newPassword.touched">
      <p class="p-text" [hidden]="!newPassword.errors?.required">请输入新密码</p>
      <p class="p-text" [hidden]="!newPassword.errors?.pattern">您输入的密码长度为6~16位字符，至少包含数字.字母.符号中的2种！</p>
    </ion-item>
  </ion-list>


  <ion-list inset>


    <ion-item>
      <ion-label floating>请确认新密码</ion-label>
      <ion-input name="confirmPassword" type="password" placeholder="请确认新密码" [(ngModel)]="input.confirmPassword" #confirmPassword="ngModel"></ion-input>
    </ion-item>

    <ion-item *ngIf="confirmPassword.touched && input.confirmPassword!=input.newPassword">
      <p class="p-text" [hidden]="input.confirmPassword==input.newPassword">两次输入的新密码不一致！</p>
    </ion-item>

  </ion-list>

  <ion-list inset>
    <div padding-horizontal margin-top="10px">
      <button ion-button color="secondary" block (click)="save()">保存</button>
    </div>

  </ion-list>

</ion-content>
<copyright [bottom]="'20px'" ></copyright>
